:root {
  --main-color: #ffe100;
  --contrast-color: #001fd4;
  --contrast-lighter: #0020d4b3;
  --link-focus: #00c3ff;
  --font-color: #262626;
  --button-background: rgba(0, 31, 212, 0.25);
  --button-background-hover: rgba(168, 179, 250, 0.5);
  --button-background-disabled: rgba(0, 31, 212, 0.35);
  --button-clicked: #001fd4;
  --next-color-hover: #463e3e;
  --wrong-color: #c90700;
  --correct-color: #005521;
}

/*--------------------------------------
                Layout  
-----------------------------------------*/
html {
  overflow: hidden;
  background-color: var(--main-color);
  color: var(--font-color);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
}

body {
  margin: 0;
}

#quiz {
  position: relative;
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes fade {
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em 2em;
  height: 100vh;
  width: 100%;
  -webkit-transition: top 0.5s ease-out, bottom 0.5s ease-out;
  transition: top 0.5s ease-out, bottom 0.5s ease-out;
}

#select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden-card {
  top: 200%;
}

.fade {
  -webkit-animation: 0.5s fade forwards ease-in;
          animation: 0.5s fade forwards ease-in;
}

@keyframes fade {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -200%;
  }
}

header {
  margin-bottom: 2.5em;
}

.options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 1.6em;
  margin: 1.6em 0;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.last-card {
  padding-bottom: 10em;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0em;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 30em;
  font-size: 2rem;
  margin: 1em auto;
  gap: 0 1em;
}

footer > div {
  width: 100%;
}

@media (min-width: 900px) and (min-height: 600px), (min-width: 600px) and (min-height: 900px) {
  .card {
    max-width: 100rem;
    font-size: 1rem;
    margin: 0 auto;
  }
  header {
    margin-bottom: 5em;
  }
  .options {
    gap: 2em;
  }
}

@media (max-height: 400px) {
  .options {
    margin: 1em 0;
    gap: 1em;
  }
  .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.5em;
  }
  .last-card {
    padding-bottom: 10em;
  }
  footer {
    margin: 0.5em auto;
  }
}

/*--------------------------------------
                Typography 
-----------------------------------------*/
h1,
h2,
p,
button {
  margin: 0;
  letter-spacing: 0.04em;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.last-card > h2 {
  text-align: center;
}

p {
  font-size: 1.6rem;
  margin: 2em 0;
}

.subtitle {
  font-style: italic;
  margin-top: -0.1em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: inherit;
  padding: 0.6em 1.25em;
  border-radius: 0.2em;
}

a {
  color: var(--contrast-color);
  text-decoration: none;
}

a:active {
  color: var(--wrong-color);
}

.subtitle-link {
  -webkit-box-shadow: 0px 0.05em 0px var(--contrast-color);
          box-shadow: 0px 0.05em 0px var(--contrast-color);
}

.subtitle-link:hover, .subtitle-link:active {
  color: var(--link-focus);
  -webkit-box-shadow: 0px 0.05em 0px var(--link-focus);
          box-shadow: 0px 0.05em 0px var(--link-focus);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 900px) and (min-height: 600px), (min-width: 600px) and (min-height: 900px) {
  h1 {
    font-size: 4.5rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 3rem;
  }
  button {
    font-size: 2rem;
  }
  p {
    font-size: 2.4rem;
  }
}

@media (max-height: 400px) {
  h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  button {
    font-size: 1.3rem;
  }
}

/*--------------------------------------
        Buttons
-----------------------------------------*/
.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  word-break: break-all;
  max-width: 100%;
  text-align: left;
  padding-left: 3.25em;
  border: 2px solid var(--contrast-lighter);
  line-height: 1.3em;
  color: var(--contrast-color);
  background-color: var(--button-background);
  -webkit-transition: background-color 0.1s, opacity 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, opacity 0.1s, -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s, background-color 0.1s, opacity 0.1s;
  transition: box-shadow 0.1s, background-color 0.1s, opacity 0.1s, -webkit-box-shadow 0.1s;
}

.option::before {
  position: absolute;
  content: "";
  font-size: inherit;
  left: 2.4em;
  top: -0.05em;
  height: 103.5%;
  width: 2px;
  background-color: var(--contrast-lighter);
  -webkit-transition: -webkit-box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
}

.option::after {
  position: absolute;
  left: 0.55em;
  font-size: 1.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.option:nth-child(1)::after {
  content: "A";
}

.option:nth-child(2)::after {
  content: "B";
}

.option:nth-child(3)::after {
  content: "C";
}

.option:nth-child(4)::after {
  content: "D";
}

.option:hover, .option:focus {
  background-color: var(--button-background-hover);
}

.option:focus {
  outline: none;
  border-color: var(--contrast-color);
  -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
          box-shadow: 0 0 0 1px var(--contrast-color);
}

.option:focus::before {
  background-color: var(--button-clicked);
  width: 2px;
  -webkit-box-shadow: 1px 0 0 var(--contrast-color);
          box-shadow: 1px 0 0 var(--contrast-color);
}

.option:disabled {
  cursor: default;
}

.option:disabled:not(.clicked) {
  opacity: 0.6;
  background-color: var(--button-background-disabled);
}

.clicked:disabled {
  border-color: var(--contrast-color);
  -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
          box-shadow: 0 0 0 1px var(--contrast-color);
  background: var(--button-background-hover);
  -webkit-animation: flickering 0.5s linear;
          animation: flickering 0.5s linear;
}

.clicked:disabled::before {
  background-color: var(--button-clicked);
  width: 2px;
  -webkit-box-shadow: 1px 0 0 var(--contrast-color);
          box-shadow: 1px 0 0 var(--contrast-color);
}

@-webkit-keyframes flickering {
  30%,
  80% {
    opacity: 0.2;
  }
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes flickering {
  30%,
  80% {
    opacity: 0.2;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.next {
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--font-color);
  border: none;
  -webkit-box-shadow: 0px 0.1em 0.4em var(--font-color);
          box-shadow: 0px 0.1em 0.4em var(--font-color);
}

.next:hover {
  background-color: var(--next-color-hover);
}

.next:active {
  background-color: var(--contrast-color);
}

#refresh {
  margin: 0 auto;
  width: auto;
}

@media (min-width: 900px) and (min-height: 600px), (min-width: 600px) and (min-height: 900px) {
  .option {
    border: 3px solid var(--contrast-lighter);
  }
  .option::before {
    width: 3px;
  }
  .option:focus {
    outline: none;
    border-color: var(--contrast-color);
    -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
            box-shadow: 0 0 0 1px var(--contrast-color);
  }
  .option:focus::before {
    background-color: var(--button-clicked);
    width: 3px;
    -webkit-box-shadow: 1px 0 0 var(--contrast-color);
            box-shadow: 1px 0 0 var(--contrast-color);
  }
  .clicked:disabled {
    border-color: var(--contrast-color);
    -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
            box-shadow: 0 0 0 1px var(--contrast-color);
    background: var(--button-background-hover);
    -webkit-animation: flickering 0.5s linear;
            animation: flickering 0.5s linear;
  }
  .clicked:disabled::before {
    background-color: var(--button-clicked);
    width: 3px;
    -webkit-box-shadow: 1px 0 0 var(--contrast-color);
            box-shadow: 1px 0 0 var(--contrast-color);
  }
}

@media (max-height: 400px) {
  .option {
    border: 2px solid var(--contrast-lighter);
  }
  .option::before {
    width: 2px;
  }
  .option:focus {
    outline: none;
    border-color: var(--contrast-color);
    -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
            box-shadow: 0 0 0 1px var(--contrast-color);
  }
  .option:focus::before {
    background-color: var(--button-clicked);
    width: 2px;
    -webkit-box-shadow: 1px 0 0 var(--contrast-color);
            box-shadow: 1px 0 0 var(--contrast-color);
  }
  .clicked:disabled {
    border-color: var(--contrast-color);
    -webkit-box-shadow: 0 0 0 1px var(--contrast-color);
            box-shadow: 0 0 0 1px var(--contrast-color);
    background: var(--button-background-hover);
    -webkit-animation: flickering 0.5s linear;
            animation: flickering 0.5s linear;
  }
  .clicked:disabled::before {
    background-color: var(--button-clicked);
    width: 2px;
    -webkit-box-shadow: 1px 0 0 var(--contrast-color);
            box-shadow: 1px 0 0 var(--contrast-color);
  }
}

/* ----------------------------
        Counter
-------------------------------- */
.counter {
  position: relative;
  width: 1.5em;
  height: 1em;
  font-size: 3.5rem;
  color: var(--wrong-color);
}

.counter::before, .counter::after {
  position: absolute;
  content: "";
}

.counter::after {
  content: "";
  opacity: 0;
}

@media (min-height: 700px) {
  .counter {
    position: absolute;
    font-size: 5em;
    margin: auto;
    left: 0%;
    right: 0%;
    top: 5vh;
  }
}

@media (max-height: 400px) {
  .counter {
    font-size: 2.5rem;
  }
}

.fa-check {
  color: var(--correct-color);
}

.count-down-hard::before {
  -webkit-animation: 4s step-end 0s three-to-zero forwards;
          animation: 4s step-end 0s three-to-zero forwards;
}

.count-down-hard::after {
  -webkit-animation: 4s step-end 0.45s three-to-zero forwards, 1s 0.45s 4 fade-out;
          animation: 4s step-end 0.45s three-to-zero forwards, 1s 0.45s 4 fade-out;
}

.count-down-easy::before {
  -webkit-animation: 11s step-end 0s ten-to-zero forwards;
          animation: 11s step-end 0s ten-to-zero forwards;
}

.count-down-easy::after {
  -webkit-animation: 11s step-end 0.45s ten-to-zero forwards, 1s 0.45s 11 fade-out;
          animation: 11s step-end 0.45s ten-to-zero forwards, 1s 0.45s 11 fade-out;
}

@-webkit-keyframes ten-to-zero {
  0% {
    content: "10";
  }
  9% {
    content: "9";
  }
  18% {
    content: "8";
  }
  27% {
    content: "7";
  }
  36% {
    content: "6";
  }
  45% {
    content: "5";
  }
  54% {
    content: "4";
  }
  63% {
    content: "3";
  }
  72% {
    content: "2";
  }
  81% {
    content: "1";
  }
  90% {
    content: "0";
  }
  100% {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
  }
}

@keyframes ten-to-zero {
  0% {
    content: "10";
  }
  9% {
    content: "9";
  }
  18% {
    content: "8";
  }
  27% {
    content: "7";
  }
  36% {
    content: "6";
  }
  45% {
    content: "5";
  }
  54% {
    content: "4";
  }
  63% {
    content: "3";
  }
  72% {
    content: "2";
  }
  81% {
    content: "1";
  }
  90% {
    content: "0";
  }
  100% {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
  }
}

@-webkit-keyframes three-to-zero {
  0% {
    content: "3";
  }
  25% {
    content: "2";
  }
  50% {
    content: "1";
  }
  75% {
    content: "0";
  }
  100% {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
  }
}

@keyframes three-to-zero {
  0% {
    content: "3";
  }
  25% {
    content: "2";
  }
  50% {
    content: "1";
  }
  75% {
    content: "0";
  }
  100% {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
  }
}

@-webkit-keyframes fade-out {
  50% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -1em;
  }
}

@keyframes fade-out {
  50% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -1em;
  }
}

/* ----------------------------
        Footer
-------------------------------- */
.footer-title {
  text-align: center;
  margin: auto;
  font-size: 2rem;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.link:hover {
  -webkit-filter: drop-shadow(0px 0px 6px var(--button-clicked));
          filter: drop-shadow(0px 0px 6px var(--button-clicked));
}

.link:focus {
  -webkit-filter: drop-shadow(0px 0px 6px var(--button-clicked));
          filter: drop-shadow(0px 0px 6px var(--button-clicked));
}

img {
  display: block;
  width: 2em;
}

@media (min-width: 900px) and (min-height: 600px), (min-width: 600px) and (min-height: 900px) {
  .footer-title {
    font-size: 3rem;
  }
  img {
    width: 3em;
  }
}

@media (max-height: 400px) {
  .footer-title {
    font-size: 1.6rem;
  }
}

/* ----------------------------
        Temporary classes
-------------------------------- */
.hidden {
  visibility: hidden;
}
/*# sourceMappingURL=sass.css.map */